
html {
	padding: 0;
	font-family:Arial, Helvetica, sans-serif;
	background-color: rgb(0, 50, 50);
}

img {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.7;
}

	img:hover {
		opacity: 0.5;
	}

	img:focus {
		opacity: 0.3;
	}

.container {
	position: absolute;
	margin: 5%;
	height: 500px;
	width: 500px;
}

/* text description */
.description {
	position: absolute;
	top: 5%;
	right: 5%;
	max-width: 500px;
	border-radius: 3px;
	padding: 20px;
	display: none;
	border: solid;
}

#descriptionCity {
	background-color: rgb(216, 75, 32);
	border-color: rgb(0, 0, 0);
	color: rgb(0, 0, 0);
}

#descriptionPlace {
	background-color: rgb(229, 190, 1);
	border-color: rgb(0, 0, 0);
	color: rgb(0, 0, 0);
}

#descriptionRoute {
	background-color: rgb(49, 127, 67);
	border-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}

#descriptionIsland {
	background-color: rgb(30, 36, 96);
	border-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}

/* island */
#island001 {
	/* background-image: url("img/mappa_razionale.png"); */
	width: 455px;
	top: 221px;
	left: 95px;
}

#island002 {
	width: 500px;
	top: 300px;
	left: 0px;
}

#island003 {
	width: 177px;
	top: 0px;
	left: 0px;
}

/* city */
.city {
	position: absolute;
	background-color: rgb(216, 75, 32);
	border: none;
	height: 15px;
	width: 15px;
}

	.city:hover {
		opacity: 0.5;
	}

	.city:focus {
		border: solid;
		border-color: rgb(255, 255, 255);
		opacity: 1;
	}

	#city001 {
		top: 230px;
		left: 220px;
	}

	#city002 {
		top: 230px;
		left: 350px;
	}

	#city003 {
		top: 310px;
		left: 485px;
	}

	#city004 {
		top: 300px;
		left: 120px;
	}

	#city005 {
		top: 310px;
		left: 150px;
	}

	#city006 {
		top: 320px;
		left: 180px;
	}

	#city007 {
		top: 330px;
		left: 230px;
	}

	#city008 {
		top: 330px;
		left: 260px;
	}

	#city009 {
		top: 420px;
		left: 20px;
	}

	#city010 {
		top: 460px;
		left: 80px;
	}

	#city011 {
		top: 550px;
		left: 260px;
	}

	#city012 {
		top: 640px;
		left: 240px;
	}

/* route */
.route {
	position: absolute;
	background: none;
	border: none;
}

	.route:hover {
		opacity: 0.5;
	}

	#tratta01 {
		border-left: 3px dotted rgb(49, 127, 67);
		height: 205px;
		width: 5px;
		top: 450px;
		left: 0px;
	}
	#tratta02 {
		border-top: 3px dotted rgb(49, 127, 67);
		height: 5px;
		width: 145px;
		top: 707px;
		left: -20px;
		transform: rotate(45deg);
	}
	#tratta03 {
		border-left: 3px dotted rgb(49, 127, 67);
		height: 100px;
		width: 5px;
		top: 765px;
		left: 105px;
	}

	#tratta04 {
		border-top: 3px dotted rgb(49, 127, 67);
		height: 5px;
		width: 200px;
		top: 340px;
		left: 290px;
	}
	#tratta05 {
		border-left: 3px dotted rgb(49, 127, 67);
		height: 95px;
		width: 5px;
		top: 241px;
		left: 290px;
	}
	#tratta06 {
		border-top: 3px dotted rgb(49, 127, 67);
		height: 5px;
		width: 90px;
		top: 235px;
		left: 250px;
	}

/* places */
.place {
	position: absolute;
	background-color: rgb(229, 190, 1);
	transform: rotate(-45deg);
	border: none;
	height: 15px;
	width: 15px;
}

	.place:hover {
		opacity: 0.5;
	}

	.place:focus {
		border: solid;
		border-color: rgb(255, 255, 255);
	}

	#place001 {
		top: 280px;
		left: 225px;
	}

	#place002 {
		top: 350px;
		left: 500px;
	}

	#place003 {
		top: 400px;
		left: 420px;
	}

	#place004 {
		top: 450px;
		left: 360px;
	}

	#place005 {
		top: 500px;
		left: 480px;
	}
	
	#place006 {
		top: 500px;
		left: 180px;
	}

	#place007 {
		top: 500px;
		left: 150px;
	}

	#place008 {
		top: 550px;
		left: 100px;
	}

	#place009 {
		top: 540px;
		left: 290px;
	}

	#place010 {
		top: 660px;
		left: 270px;
	}

	#place011 {
		top: 650px;
		left: 320px;
	}

	#place012 {
		top: 560px;
		left: 400px;
	}

	#place013 {
		top: 620px;
		left: 380px;
	}

	#place014 {
		top: 60px;
		left: 50px;
	}
	#place015 {
		top: 130px;
		left: 80px;
	}


/* Responsive versione mobile */
/* @media only screen and (max-width: 600px) {
	#descriptionCity {
		margin-top: 820px;
		margin-left: 5px;
		margin-bottom: 10px;
		max-width: 80%;
		border: none;
	}
	#descriptionPlace {
		margin-top: 420px;
		margin-left: 5px;
		margin-bottom: 10px;
		max-width: 80%;
		border: none;
	}
	#descriptionIsland {
		margin-top: 420px;
		margin-left: 5px;
		margin-bottom: 10px;
		max-width: 80%;
		border: none;
	}
	#descriptionRoute {
		margin-top: 420px;
		margin-left: 5px;
		margin-bottom: 10px;
		max-width: 80%;
		border: none;
	}

} */