
html {
	padding: 0;
	font-family:Arial, Helvetica, sans-serif;
	background-color: rgb(0, 50, 50);
}

span {
	color: rgb(0, 0, 0);
}

#title {
	font-size: 18pt;
}

img {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.8;
}

	img:hover {
		opacity: 0.5;
	}

	img:focus {
		opacity: 0.1;
	}

.container {
	position: absolute;
	margin: 5%;
	height: 500px;
	width: 500px;
}

#description {
	position: absolute;
	top: 300px;
	left: 800px;
	width: 300px;
	background-color: rgb(255, 200, 0);
	border-radius: 3px;
	padding: 20px;
	display: none;
}

/* island */
#island001 {
	width: 455px;
	top: 221px;
	left: 95px;
}

#island002 {
	width: 500px;
	top: 300px;
	left: 0px;
}

#island003 {
	width: 177px;
	top: 0px;
	left: 0px;
}

/* city */
.city {
	position: absolute;
	background-color: rgb(255, 0, 0);
	border-radius: 20px;
	border: none;
}

	.city:hover {
		background-color: rgb(200, 0, 0);
	}

	.city:focus {
		background-color: rgb(255, 80, 80);
	}

	#city001 {
		height: 22px;
		width: 22px;
		top: 230px;
		left: 220px;
	}

	#city002 {
		height: 22px;
		width: 22px;
		top: 230px;
		left: 350px;
	}

	#city003 {
		height: 22px;
		width: 22px;
		top: 300px;
		left: 480px;
	}

	#city004 {
		height: 22px;
		width: 22px;
		top: 300px;
		left: 120px;
	}

	#city005 {
		height: 22px;
		width: 22px;
		top: 310px;
		left: 150px;
	}

	#city006 {
		height: 22px;
		width: 22px;
		top: 320px;
		left: 180px;
	}

	#city007 {
		height: 22px;
		width: 22px;
		top: 330px;
		left: 230px;
	}

	#city008 {
		height: 22px;
		width: 22px;
		top: 330px;
		left: 260px;
	}

/* route */
.route {
	position: absolute;
	background: none;
	border: none;
}

	#tratta01 {
		border-left: 5px dotted rgb(49, 127, 67);
		height: 250px;
		width: 5px;
		top: 450px;
		left: 0px;
	}
	#tratta02 {
		border-top: 5px dotted rgb(49, 127, 67);
		height: 5px;
		width: 100px;
		top: 705px;
		left: 0px;
	}
	#tratta03 {
		border-left: 5px dotted rgb(49, 127, 67);
		height: 150px;
		width: 5px;
		top: 705px;
		left: 105px;
	}

	#tratta04 {
		border-top: 5px dotted rgb(49, 127, 67);
		height: 5px;
		width: 200px;
		top: 340px;
		left: 290px;
	}
	#tratta05 {
		border-left: 5px dotted rgb(49, 127, 67);
		height: 90px;
		width: 5px;
		top: 245px;
		left: 290px;
	}
	#tratta06 {
		border-top: 5px dotted rgb(49, 127, 67);
		height: 5px;
		width: 90px;
		top: 235px;
		left: 250px;
	}

/* places */
.place {
	position: absolute;
	background-color: rgb(255, 200, 0);
	border-radius: 20px;
	border: none;
}

	.place:hover {
		background-color: rgb(200, 150, 0);
	}

	.place:focus {
		background-color: rgb(255, 230, 50);
	}

	#grottaCeneri {
		height: 15px;
		width: 15px;
		margin-top: 525px;
		margin-left: 533.5px;
	}

	#zonaSafari {
		height: 15px;
		width: 15px;
		margin-top: 490px;
		margin-left: 490px;
	}

	#centrale {
		height: 15px;
		width: 15px;
		margin-top: 208px;
		margin-left: 470px;
	}

	#viaVittoria {
		height: 15px;
		width: 15px;
		margin-top: 150px;
		margin-left: 303.5px;
	}


/* Responsive versione mobile */
/* @media only screen and (max-width: 600px) {
	#description {
		margin-top: 420px;
		margin-left: 5px;
		margin-bottom: 10px;
		max-width: 80%;
		border: none;
	}

	img {
		height: 360px;
		margin-top: 30px;
		margin-left: 30px;
	}

/* City */
	/* #Stabio {
		height: 15px;
		width: 15px;
		margin-top: 372px;
		margin-left: 210px;
	}

	#Chiasso {
		height: 15px;
		width: 15px;
		margin-top: 372px;
		margin-left: 240px;
	}

	#Mendrisio {
		height: 15px;
		width: 30px;
		margin-top: 350px;
		margin-left: 228px;
	}

	#Campione {
		height: 15px;
		width: 15px;
		margin-top: 325px;
		margin-left: 228px;
	}

	#Lugano {
		height: 30px;
		width: 15px;
		margin-top: 285px;
		margin-left: 205px;
	}

	#Rivera {
		height: 15px;
		width: 15px;
		margin-top: 255px;
		margin-left: 205px;
	}

	#Bellinzona {
		height: 15px;
		width: 30px;
		margin-top: 205px;
		margin-left: 205px;
	}

	#Tenero {
		height: 15px;
		width: 15px;
		margin-top: 220px;
		margin-left: 170px;
	}

	#Locarno {
		height: 15px;
		width: 30px;
		margin-top: 220px;
		margin-left: 120px;
	}

	#Sonogno {
		height: 15px;
		width: 15px;
		margin-top: 150px;
		margin-left: 170px;
	}

	#Maggia {
		height: 15px;
		width: 15px;
		margin-top: 180px;
		margin-left: 120px;
	}

	#Biasca {
		height: 15px;
		width: 15px;
		margin-top: 140px;
		margin-left: 205px;
	}

	#Ambrì {
		height: 15px;
		width: 15px;
		margin-top: 90px;
		margin-left: 150px;
	}

	#Airolo {
		height: 15px;
		width: 15px;
		margin-top: 90px;
		margin-left: 90px;
	}

	#Gottardo {
		height: 15px;
		width: 15px;
		margin-top: 50px;
		margin-left: 90px;
	}

/* route 
	#route001 {
		height: 15px;
		width: 20px;
		margin-top: 372px;
		margin-left: 225px;
	}

	#route002 {
		height: 12px;
		width: 15px;
		margin-top: 360px;
		margin-left: 228px;
	}

	#route003 {
		height: 30px;
		width: 15px;
		margin-top: 330px;
		margin-left: 228px;
	}

	#route004 {
		height: 15px;
		width: 30px;
		margin-top: 325px;
		margin-left: 205px;
	}

	#route005 {
		height: 15px;
		width: 15px;
		margin-top: 310px;
		margin-left: 205px;
	}

	#route006 {
		height: 25px;
		width: 15px;
		margin-top: 265px;
		margin-left: 205px;
	}

	#route007 {
		height: 45px;
		width: 15px;
		margin-top: 215px;
		margin-left: 205px;
	}

	#route008 {
		height: 15px;
		width: 25px;
		margin-top: 220px;
		margin-left: 180px;
	}

	#route009 {
		height: 60px;
		width: 15px;
		margin-top: 160px;
		margin-left: 170px;
	}

	#route010 {
		height: 15px;
		width: 55px;
		margin-top: 150px;
		margin-left: 120px;
	}

	#route011 {
		height: 40px;
		width: 15px;
		margin-top: 150px;
		margin-left: 120px;
	}

	#route012 {
		height: 35px;
		width: 15px;
		margin-top: 190px;
		margin-left: 120px;
	}

	#route013 {
		height: 15px;
		width: 30px;
		margin-top: 220px;
		margin-left: 145px;
	}

	#route014 {
		height: 60px;
		width: 15px;
		margin-top: 150px;
		margin-left: 205px;
	}

	#route015 {
		height: 55px;
		width: 15px;
		margin-top: 90px;
		margin-left: 205px;
	}

	#route016 {
		height: 15px;
		width: 55px;
		margin-top: 90px;
		margin-left: 150px;
	}

	#route017 {
		height: 15px;
		width: 55px;
		margin-top: 90px;
		margin-left: 100px;
	}

	#route018 {
		height: 50px;
		width: 15px;
		margin-top: 55px;
		margin-left: 90px;
	}

/* places 
	#grottaCeneri {
		height: 15px;
		width: 15px;
		margin-top: 240px;
		margin-left: 205px;
	}

	#zonaSafari {
		height: 15px;
		width: 15px;
		margin-top: 235px;
		margin-left: 180px;
	}

	#centrale {
		height: 15px;
		width: 15px;
		margin-top: 75px;
		margin-left: 170px;
	}

	#viaVittoria {
		height: 15px;
		width: 15px;
		margin-top: 65px;
		margin-left: 90px;
	}

} */